.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #ffe81f;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #fff;
  }